
.table__head{
    color: #FFF;
    font-weight: 700;
    background: #9b4085;
    background: -moz-linear-gradient(-45deg, #9b4085 0%, #608590 100%);
    background: -webkit-linear-gradient(-45deg, #9b4085 0%,#608590 100%);
    background: linear-gradient(135deg, #9b4085 0%,#608590 100%);
    white-space: nowrap;
    }
    .table-bordered td, .table-bordered th{
    border: 0px solid #FFF;
    }
    .coin {
    width:8%;
    margin-left: 5px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
    }
    @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
    @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
    
    .winner__table{
        white-space: nowrap;
    }
    
    @media screen and (max-width: 567px) {
    
        .winner__table{
        font-size: 12px;
        }
        .coin {
        width:15%;
        margin-left:2px;
        }
    }



    /* nav bar */
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        -webkit-tap-highlight-color: transparent;
      }
      
      body {
        width: 100%;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        background-color: rgb(182, 205, 189);
      }
      
      /* ========= BIG SCREEN STYLES ================== */
      header {
        width: 100%;
        min-height: 60px;
        background-color: rgb(70, 88, 72);
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      
      nav {
        width: 90%;
        max-width: 1000px;
        height: 7vh;
        min-height: 60px;
        padding-top: 8px;
        background-color: inherit;
        color: rgba(255, 255, 255);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: baseline;
      }
      
      nav .logo {
        font-size: 38px;
        letter-spacing: 5px;
      }
      
      .navList {
        font-size: 17px;
        text-transform: uppercase;
        list-style: none;
        display: flex;
        gap: 20px;
      }
      
      nav a {
        color: inherit;
        text-decoration: none;
      }
      
      .navBtn {
        display: none;
        cursor: pointer;
      }
      
      /* 3divs for 3line button */
      .navBtn div {
        width: 30px;
        height: 2px;
        margin: 5px;
        background-color: rgb(255, 255, 255);
        border-radius: 2px;
        transition: all 0.5s ease-in;
      }
      
      /* ============ SMALL SCREEN STYLES ============= */
      @media screen and (max-width: 768px) {
      
        nav {
          padding: 0;
          align-items: center;
        }
      
        .navList {
          /* stick the ul (navList) to a window just below navbar  */
          position: absolute;
          right: 0px;
          height: 93vh;
          top: clamp(60px, 7vh, 7vh);
          /* li from row to column */
          flex-direction: column;
          gap: 5vh;
          align-items: center;
          /* make it a bit pretty :) */
          padding: 5vh 15vw;
          background-color: rgb(70, 88, 72, 0.8);
          font-size: 26px;
          letter-spacing: 1px;
          /* blur the background */
          backdrop-filter: blur(5px);
          /* will move container off the screen temporarly :)*/
          transform: translate(100%);
          transition: transform 0.5s ease-out;
        }
      
        .navLi {
          opacity: 0;
          /* transform: translate(250px, 0); */
          /* transition: all 0.4s ease-in 0.1s; */
        }
      
        /* showing navBtn button */
        .navBtn {
          display: block;
        }
      }
      
      /* ========== NAVLIST ACTIVATION CLASS ================= */
      /* used by js */
      /* toggle navList 'visability' :) */
      .navActive {
        transform: translate(0%);
      }
      
      /* ========== LI ELEMENTS JAZZED UP TRANSFORMATION ===========*/
      /* used by js */
      /* .fadeIn {
        opacity: 1;
        transform: translate(0, 0);
      } */
      
      /* adding keyframe */
      /* used by js */
      @keyframes SlideIn {
        from {
          opacity: 0;
          transform: translate(250px, 0);
        }
      
        to {
          opacity: 1;
          transform: translate(0, 0);
        }
      }
      
      /* ========= TOGLE CLASSES TO MAKE 3LINE BUTTON ONTO X =========== */
      /* used by js */
      .navBtnToggle .line1 {
        transform: rotate(-45deg) translate(-4px, 6px);
      }
      
      .navBtnToggle .line2 {
        transform: scale(0) translate(10px, 0);
      }
      
      .navBtnToggle .line3 {
        transform: rotate(45deg) translate(-4px, -6px);
      }