<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="sidenav">
         <div class="login-main-text">
            <h2>PLAN MY TRIP<br> Register Page</h2>
            <p>Login or register from here to access.</p>
         </div>
      </div>
      <div class="main">
         <div class="col-md-60 col-sm-12">
            <div class="login-form">
               <form #Registerform="ngForm" (ngSubmit)="registerUser()">
                  <!-- <small [class.text-danger]="msg.status == 500">{{msg.message}}</small> -->
                <div class="form-group">
                  <label>E-mail</label>
                  <input type="text" class="form-control" placeholder="Enter mail" name="E-mail" [(ngModel)]="user.emailId" required  pattern="^\w+@[a-zA-Z_]+?|.[a-zA-Z]{2,3}$"
                   #email="ngModel"
                  
                   [class.is-invalid]="email.invalid && email.touched"
                   
                  >
                 
                  <!-- <small class="text-danger" [class.d-none]="email.valid || email.untouched">Enter your Mail Id</small> -->
               <div *ngIf="email.errors && (email.invalid && email.touched)">
                  <small class="text-danger" *ngIf="email.errors?.['required']">email field is required </small>
                  <small class="text-danger" *ngIf="email.errors?.['pattern']">Enter a valid email</small>
               </div>
            </div>

                  <div class="form-group">
                     <label>User Name</label>
                     <input type="text" class="form-control" placeholder="User Name" name="username" [(ngModel)]="user.userName" #username="ngModel" required
                     [class.is-invalid]="username.invalid && username.touched"
                     
                     >
                     <small class="text-danger" [class.d-none]="username.valid || username.untouched">user name is required</small>
                  </div>

                  <div class="form-group">
                     <label>Password</label>
                     <input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="user.password" required #password="ngModel"
                     [class.is-invalid]="password.invalid && password.touched">
                     <small class="text-danger" [class.d-none]="password.valid || password.untouched">Enter your Password</small>
                 
                  </div>


                  <div class="form-group">
                     <label>Confirm Password</label>
                     <input type="password" class="form-control" placeholder="Password" name="cpassword" #cpassword="ngModel" (ngModel)="user.password" required 
                     [class.is-invalid]="cpassword.invalid && cpassword.touched">
                     <small class="text-danger" [class.d-none]="(cpassword.valid==password.untouched)|| cpassword.untouched">Password & ConfirmPassword should be same</small>
                 
                  </div>

                  <button [disabled]="Registerform.form.invalid" type="submit"   class="btn btn-black">Register</button>
                  <button type="submit" [routerLink]="['/loginpage']" class="btn btn-secondary"> Sign In</button>
               </form>

            </div>
         </div>
      </div>